.quote-container {
    width: 80%;
    max-width: 1000px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 1rem 2rem 2rem;
}

.quote-dark {
}

.quote-container-upper {
}

.author-container {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
}

.sentence-input-wrapper {
    position: relative;
    min-height: 100px;
}
