.quote-container {
    width: 80%;
    max-width: 1000px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: 0 2rem 2rem;
}

.quote-dark {
}

.quote-container-upper {
}

.author-container {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
}

.sentence-input-wrapper {
    position: relative;
    min-height: 100px;
    line-height: 1.8;
}

/* Default 모드 스타일 */
.quote-container.default-mode .sentence-input-wrapper {
    position: relative;
    min-height: auto;
}
