.average-info-title {
    font-size: 1.1rem;
    color: #666;
}

.average-info-title.dark {
    color: #999;
}

.average-info-num {
    margin-left: 1.5rem;
    font-weight: 600;
    color: #666;
}

.average-info-num.dark {
    color: #999;
}