.contact {
    margin-top: auto;
    margin-bottom: 10rem;
    text-decoration: none;
    color: var(--color-text-muted);
    font-size: 0.9rem;
    transition: color 0.2s;
}

.contact:hover {
    color: var(--color-text);
}
