DB_URL=postgresql_database_url
DB_USERNAME=postgresql_username
DB_PASSWORD=postgresql_password

MONGODB_URI=mongodb_uri

JWT_SECRET=jwt_secret

GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secret
GOOGLE_REDIRECT_URI=google_redirect_uri
ADMIN_EMAIL=admin_google_email