spring:
  profiles:
    active: local
  application:
    name: typing-practice-be

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  access-token-expiration-ms: 3600000
  refresh-token-expiration-days: 15


springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8080

google:
  token-uri: https://oauth2.googleapis.com/token
