.head {
    width: 80%;
    max-width: 1000px;
    min-width: 600px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.head-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}