.currentCPM-container {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*width: 15%;*/
}

.toggle-current-cpm-dark {
    color: white;
}