.update-popup-version {
    font-size: 0.85rem;
    color: var(--color-text-placeholder);
    background-color: transparent;
}

.update-popup-date {
    font-size: 0.85rem;
    color: var(--color-text-placeholder);
    margin-bottom: 1.5rem;
    background-color: transparent;
}
