* {
    font-family:
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;
    box-sizing: border-box;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding-top: 18vh;
    background-color: var(--color-bg);
    color: var(--color-text);
}