.input{
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    width: 100%;
    padding: 0;
    overflow-y: hidden;
    resize: none;
    outline: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: transparent;
    caret-color: #6d28d9;
    z-index: 20;
    line-height: 1.8;
    letter-spacing: normal;
    word-spacing: normal;
    font-family: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: normal;
    overflow-wrap: break-word;
}

.input-dark {
    background-color: transparent;
    color: transparent;
    caret-color: #8b5cf6;
}

.input::placeholder{
    color: transparent;
}

.input-dark::placeholder{
    color: transparent;
}