.theme-icon-dark {
    color: var(--color-text-placeholder);
    transition: color 0.2s;
}

.theme-icon-dark:hover {
    color: var(--color-text);
}

.theme-icon-light {
    color: var(--color-text-muted);
    transition: color 0.2s;
}

.theme-icon-light:hover {
    color: var(--color-text);
}

.theme-icon {
    font-size: 1rem;
    background: none;
}

.theme-icon:hover {
    cursor: pointer;
}