.theme-icon-dark {
    color: #999;
    transition: color 0.2s;
}

.theme-icon-dark:hover {
    color: #e5e7eb;
}

.theme-icon-light {
    color: #666;
    transition: color 0.2s;
}

.theme-icon-light:hover {
    color: #333;
}

.theme-icon {
    font-size: 1rem;
    background: none;
}

.theme-icon:hover {
    cursor: pointer;
}