

.info-background {
 /*border: 1px solid black;*/
 width: 80%;
 border-radius: 1rem;

 max-width: 1000px;
 min-width: 600px;
 display: flex;
 flex-direction: column;
 padding: 1rem;
 /*padding-bottom: 2rem;*/
 margin-bottom: 2rem;
 background-color: #f4f4f5;
}

.info-dark {
 color: white;
 background-color: #27272a;

}

.info-settings {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 0.5rem;
}

.info-CPMs {
 display: flex;
 justify-content: space-between;
}

.info-averages {
 display: flex;
 justify-content: space-around;
 /* border: 1px solid blue; */
 margin-top: 1rem;
 /* margin-bottom: 1rem; */
}

